
  <div [formGroup]="dayForm" class="field col-12 md:col-12">
    <div class="field-checkbox">
      <p-checkbox
        formControlName="state"
        label="{{dayForm.value.name}}"
        value="{{dayForm.value.name}}"
        [inputId]="dayForm.value.name"
        [binary]="true">
      </p-checkbox>
      <label [for]="dayForm.value.name"></label>
    </div>

  </div>

  <div *ngIf="dayForm.get('state')?.value" class="field col-12 md:col-12">
    <div [formGroup]="tempForm" class="grid">
      <div class="field col-12 md:col-5">
        <span class="p-float-label" style="margin-top: 2em;">
          <p-calendar
            [timeOnly]="true"
            hourFormat="12"
            formControlName="date_start"
            >
          </p-calendar>
          <label>Hora Inicio</label>
        </span>
      </div>
      <div class="field col-12 md:col-5">
        <span class="p-float-label" style="margin-top: 2em;">
          <p-calendar
            [timeOnly]="true"
            hourFormat="12"
            formControlName="date_end"
            [minDate]="tempForm.get('date_start')?.value"
            >
          </p-calendar>
          <label>Hora Fin</label>
        </span>
      </div>
      <div class="field col-12 md:col-2">
        <div style="margin-top: 2em;"></div>
        <p-button
          icon="pi pi-plus"
          (click)="addInterval()"
          [disabled]="!tempForm.get('date_start')?.value || !tempForm.get('date_end')?.value"
          ></p-button>
      </div>
    </div>

    <div class="field col-12 md:col-12">
      <div class="grid">
        <div *ngFor="let interval of dayForm.value.intervals; let i=index"
          class="field col-12 md:col-12">
          <div class="grid">
            <div class="field col-12 md:col-5">
              <div class="h-full" style="margin-top: 1em; display: flex; align-items: center;">
                Hora Inicio: {{ interval.date_start | date: 'hh:mm' }}
              </div>
            </div>
            <div class="field col-12 md:col-5">
              <div class="h-full" style="margin-top: 1em; display: flex; align-items: center;">
                Hora Fin: {{ interval.date_end |date: 'hh:mm' }}
              </div>
            </div>
            <div class="field col-12 md:col-2">
              <div class="h-full" style="margin-top: 1em; display: flex; align-items: center;">
                <p-button
                  icon="pi pi-trash"
                  severity="danger"
                  (click)="deleteInterval(i)">
                </p-button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

