<div class="grid">
  <p-toast key="cd" position="bottom-center"></p-toast>
  <div class="col-12">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <div class="col-12 md:col-9">
          <h2>Disponibilidades</h2>
        </div>
        <div class="col-12 md:col-3">
          <div class="grid">
            <div class="col-12">
              <button (click)="display=true" pButton icon="pi pi-plus"
                label="Crear Disponibilidad"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div *ngIf="!availabilities" class="col-12 md:col-12">
          <div class="border-round border-1 surface-border p-4 surface-card grid ">
            <div class="field col-12 md:col-4" *ngFor="let item of [1, 2, 3]">
              <div class="flex mb-3">
                <div>
                  <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                  <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                </div>
              </div>
              <p-skeleton width="100%" height="150px"></p-skeleton>
              <div class="flex justify-content-between mt-3">
                <p-skeleton width="10rem" height="2rem"></p-skeleton>
                <p-skeleton width="5rem" height="2rem"></p-skeleton>
                <p-skeleton width="5rem" height="2rem"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let availability of availabilities">
          <app-avai-card
          [availability]="availability"
          (availabilityDeleted)="onDeleteAvailability($event)"
          (availabilityUpdate)="availabilityUpdate($event)"
          ></app-avai-card>
        </div>
      </div>
    </div>

  </div>
</div>
<p-dialog
header="Crear Disponibilidad"
  [(visible)]="display"
  [modal]="true"
  showEffect="fade"
  [style]="{width: '30vw',height: '70vh'}"
  [breakpoints]="{'960px': '75vw'}">
  <div class="grid">
    <div class="col-12 md:col-12">
      <!-- app.component.html -->
      <form [formGroup]="form" (ngSubmit)="registerForm()"
        autocomplete="off">
        <div class="formgrid grid">
          <div class="field col-12 md:col-12">
            <label for="availabilityName">Nombre de Disponibilidad
            </label>
            <input
                        formControlName="availabilityName"
                        id="availabilityName"
                        type="text"
                        pInputText
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                <small
                  *ngIf="form.get('availabilityName')!.invalid && form.get('availabilityName')!.touched"
                  id="availabilityName" class="p-error block">El
                  campo es obligatorio.
                </small>
          </div>
          <div class="field col-12 md:col-12">
            <div formArrayName="weekDays" class="formgrid grid">
              <div *ngFor="let day of weekDays.controls; let i = index" class="field col-12 md:col-12">
                  <app-time [dayForm]="castToFormGroup(day) "></app-time>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-12">
            <button
              pButton
              type="submit"
              label="Crear Disponibilidad"
              class="p-button-outlined w-full"
              [disabled]="form.invalid"
              [loading]="loadingCreateAvailability"
              >
            </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
