<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
      <img src="assets/images/logo-white.svg" alt="logo">
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
      <i class="pi pi-bars"></i>
  </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
      <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <div style="display: flex; justify-content: center; align-items: center;">
      {{user.first_name}} {{user.last_name}}
    </div>
      <p-confirmPopup></p-confirmPopup>
      <button
      class="p-link layout-topbar-button"
      (click)="confirmDelete($event)"
      >
        <img src="{{user.picture_url}}" alt="Profile Image" style="border-radius: 50%; width: 40px; height: 40;">
        <span>Cerrar Sesion</span>
      </button>
  </div>
</div>
