<div class="grid">
  <p-toast key="dt" position="bottom-center"></p-toast>
  <p-toast key="ct" position="bottom-center"></p-toast>
  <p-toast key="ut" position="bottom-center"></p-toast>
  <p-toast position="bottom-center"></p-toast>
  <div class="col-12">
    <div class="card">
      <div class="p-fluid p-formgrid grid">
        <div class="col-12 md:col-10">
          <h2>Temas</h2>
        </div>
        <div class="col-12 md:col-2">
          <p-dialog header="Crear Tema"
            [(visible)]="display"
            [modal]="true"
            showEffect="fade"
            [style]="{width: '30vw'}"
            [breakpoints]="{'960px': '75vw'}">
            <div class="grid">
              <div class="col-12 md:col-12">
                <form [formGroup]="register" (ngSubmit)="registerTopic()"
                  autocomplete="off">
                  <div class="formgrid grid">
                    <div class="field col-12 md:col-12">
                      <label for="topicName">Tema</label>
                      <input id="topicName" type="text" pInputText
                        formControlName="topicName"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                      <small
                        *ngIf="register.get('topicName')!.invalid && register.get('topicName')!.touched"
                        id="topicName" class="p-error block">El
                        campo es obligatorio.
                      </small>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="col-12">
                      <button
                        pButton
                        type="submit"
                        label="Crear Tema"
                        [loading]="loandingCreateTopic"
                        class="p-button-outlined">
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </p-dialog>
          <div class="grid">
            <div class="col-12">
              <button
                (click)="display=true"
                pButton icon="pi pi-plus"
                label="Crear Tema"
                ></button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-fluid p-formgrid grid">
        <div *ngIf="!topics" class="col-12 md:col-12">
          <div class="border-round border-1 surface-border p-4 surface-card grid ">
            <div class="field col-12 md:col-4" *ngFor="let item of [1, 2, 3]">
              <div class="flex mb-3">
                <div>
                  <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton>
                </div>
              </div>
              <div class="flex justify-content-between mt-3">
                <p-skeleton width="10rem" height="2rem"></p-skeleton>
                <p-skeleton width="10rem" height="2rem"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor="let topic of topics">
          <app-topic-card
            [topic]="topic"
            (topicDeleted)="onDeleteTopic($event)"
            (topicUpdated)="onUpdateTopic($event)"
          ></app-topic-card>
        </div>
      </div>
    </div>

  </div>
</div>
