.confirmation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* O la altura que desees para centrar verticalmente */
}

.card-content {
  text-align: center;
  padding: 2rem;
}

p-card {
  width: 50%; /* O el ancho que prefieras */
  border-radius: 16px; /* Radio de borde para redondear las esquinas */
}

.wave-footer {
  height: 100px; /* Altura del elemento de la onda */
  background: #B71C1C; /* Color de fondo del pie de la tarjeta */
  border-radius: 0 0 16px 16px; /* Redondea las esquinas inferiores */
  position: relative;
}

.wave-footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: url('../../../assets/images/waves.svg') no-repeat bottom; /* Ruta al SVG de la onda */
  background-size: 100% 100px; /* Asegúrate de que el SVG de la onda se ajuste bien */
}
