<div class="confirmation-wrapper">
  <p-card>
    <div class="card-content">
      <h1>Gracias por utilizar <a style="text-decoration: none;" href="/">AgendarUFPS</a></h1>

      <p>Recuerda que el evento se agregará a su Google Calendar del correo con el que se identificó.</p>
    </div>
    <div class="wave-footer"></div>
  </p-card>
</div>
