<div class="grid">
  <p-toast position="bottom-center" ></p-toast>
  <p-toast position="bottom-center"></p-toast>
  <div class="col-12">
    <div class="card ">
      <h2>Informes</h2>
      <div class="p-fluid p-formgrid grid">
          <div class="col-12 md:col-12">
            <div class="grid p-fluid p-formgrid">
              <div class="col-12 md:col-4">
                <p-dropdown
                  *ngIf="years"
                  [options]="years"
                  optionLabel="name"
                  [filter]="true"
                  [virtualScroll]="true"
                  [virtualScrollItemSize]="43"
                  filterBy="name"
                  styleClass="w-full"
                  placeholder="Seleccione el año"
                  [(ngModel)]="selectedYear"
                  >
                </p-dropdown>
              </div>
            <div class="col-12 md:col-4">
              <p-dropdown
                *ngIf="selectedYear"
                [options]="period"
                optionLabel="name"
                filterBy="name"
                styleClass="w-full"
                placeholder="Seleccione el semestre"
                [(ngModel)]="selectedPeriod"
                (onChange)="getReportGeneral()"
                >
              </p-dropdown>
            </div>
            <div class="col-12 md:col-4">
              <p-skeleton *ngIf="loanding" height="2rem" styleClass="mb-2"></p-skeleton>
              <p-dropdown
                *ngIf="!loanding && selectedPeriod"
                [options]="events"
                optionLabel="name"
                [filter]="true"
                [virtualScroll]="true"
                [virtualScrollItemSize]="43"
                filterBy="name"
                styleClass="w-full"
                (onChange)="getChartData($event.value)"
                [(ngModel)]="selectedEvent"
                placeholder="Seleccione un evento"
                >
              </p-dropdown>
            </div>
          </div>
          </div>
          <div *ngIf="loanding" class="col-12 md:col-12">
            <div class="border-round border-1 surface-border p-4 surface-card grid ">
              <div class="field col-12 md:col-4" *ngFor="let item of [1, 2, 3]">
                <div class="flex mb-3">
                  <div>
                    <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                    <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                  </div>
                </div>
                <p-skeleton width="100%" height="150px"></p-skeleton>
                <div class="flex justify-content-between mt-3">
                  <p-skeleton width="10rem" height="2rem"></p-skeleton>
                  <p-skeleton width="5rem" height="2rem"></p-skeleton>
                  <p-skeleton width="5rem" height="2rem"></p-skeleton>
                </div>
              </div>
            </div>
          </div>

          <div *ngFor="let eventName of getEventNames();let i = index" class="col-12 md:col-12">
            <div class="grid p-fluid p-formgrid">

              <div class="col-12 md:col-6">
                <h3> Evento: {{ eventName }}</h3>
              </div>
              <div class="col-12 md:col-6">
                <p-button label="Generar Reporte"
                [loading]="loadingReport"
                (onClick)="exportCSVCustom()"
                [disabled]="!appointmentData || appointmentData.length == 0"
                ></p-button>
              </div>
            </div>

            <div class="card imagenReport">
              <h4>Año {{selectedYear.value}} Semestre {{selectedPeriod.value}} </h4>
              <h4>Total Agendados: {{totalscheduled[i]}}. Duracion Promedio: {{averageTime[i]}} Min. </h4>
              <h4>
                Total Asesorias: {{totalesAppointment[i]}}
                Virtuales: {{totalVirutalAppointments[i]}}
                Presenciales: {{totalInPersonAppointments[i]}}.
              </h4>
              <p-chart type="bar" [data]="chartsData[eventName]" [options]="options"></p-chart>
            </div>

            <div class="col-12 md:col-12">
            <div class="card">
                  <h2>Detalles Asesorias</h2>
                <div *ngIf="appointmentData==null">
                  <p-table [value]="loadingTable" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template pTemplate="header">
              <tr>
                  <th> </th>
                  <th> </th>
                  <th> </th>
                  <th> </th>
              </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
              <tr>
                  <td><p-skeleton></p-skeleton></td>
                  <td><p-skeleton></p-skeleton></td>
                  <td><p-skeleton></p-skeleton></td>
                  <td><p-skeleton></p-skeleton></td>
              </tr>
                    </ng-template>
                </p-table>
                </div>
                  <p-table
                    *ngIf="appointmentData"
                    #dt1
                    [value]="appointmentData"
                    dataKey="id"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [loading]="loandingTable"
                    [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="[
                    'appointment.event_id.name',
                    'appointment.event_id.typeMeeting',
                    'appointment.event_id.location',
                    'appointment.appointment_start'
                    ]"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width:10rem">
                              <div class="flex align-items-center">
                                    Nombre Evento
                                    <p-columnFilter type="text" field="appointment.event_id.name" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th style="min-width:10rem">
                              <div class="flex align-items-center">
                                  Ver Evento
                              </div>
                          </th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Tipo Evento
                                    <p-columnFilter type="text" field="appointment.event_id.typeMeeting" display="menu"></p-columnFilter>
                                </div>
                              </th>
                            <th style="min-width:10rem">
                              <div class="flex align-items-center">
                                Lugar Evento
                                <p-columnFilter type="text" field="appointment.event_id.location" display="menu"></p-columnFilter>
                            </div>
                            </th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Tema Agendado
                                    <p-columnFilter type="text" field="appointment.topic.name" display="menu"></p-columnFilter>
                                </div>
                            </th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Fecha Evento
                                </div>
                            </th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Hora Evento
                                </div>
                            </th>
                            <th style="min-width:10rem">
                                <div class="flex align-items-center">
                                    Duracion Evento
                                    <p-columnFilter type="numeric" field="appointment.event_id.duration" display="menu" ></p-columnFilter>
                                </div>
                            </th>
                            <th style="min-width:15rem">
                                <div class="flex align-items-center">
                                    Asistentes
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-appointment>
                        <tr>
                            <td>
                              {{appointment.appointment.event_id.name}}
                            </td>
                            <td>
                              <a
                              href="{{appointment.appointment.link_google_calendar}}"
                              target="_blank"
                              rel="noopener noreferrer">
                              <p-button label="Ver Evento" [link]="true">
                              </p-button>
                            </a>
                            </td>
                            <td>
                              {{ appointment.appointment.event_id.typeMeeting}}
                            </td>
                            <td>
                              {{appointment.appointment.event_id.location}}
                            </td>
                            <td>
                                {{appointment.appointment.topic.name}}
                            </td>
                            <td>
                                {{ appointment.appointment.appointment_start | date:'MM/dd/yyyy' }}
                            </td>
                            <td>
                                {{ appointment.appointment.appointment_start | date: 'hh:mm a' }}
                            </td>
                            <td>
                                {{ appointment.appointment.event_id.duration}} Min
                            </td>
                            <td>
                                <table>
                                  <thead>
                                    <tr>
                                      <th style="min-width:10rem">Nombre</th>
                                      <th style="min-width:20rem">Email</th>
                                      <th style="min-width:5rem">Asistió</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let assistant of appointment.attendees">
                                      <ng-container *ngIf="assistant.user.email != myEmail;">
                                        <td>
                                            <ng-container *ngIf="assistant.user.first_name; else notRegistered">
                                                {{ assistant.user.first_name }} {{ assistant.user.last_name }}
                                            </ng-container>
                                            <ng-template #notRegistered>
                                                Usuario No Registrado
                                            </ng-template>
                                        </td>
                                        <td>
                                            {{ assistant.user.email }}
                                          </td>
                                          <td>
                                            <p-toggleButton
                                            onLabel="Si"
                                            offLabel="No"
                                            [disabled]="true"
                                            [(ngModel)]="assistant.attended"
                                            ></p-toggleButton>
                                          </td>
                                        </ng-container>
                                    </tr>
                                  </tbody>
                                </table>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No customers found.</td>
                        </tr>
                    </ng-template>
                  </p-table>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
