
<div class="grid grid-nogutter surface-section text-800 h-full ">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
          <span class="block text-6xl font-bold mb-1">AgendarUFPS</span>
          <div class="text-6xl text-red-700 font-bold mb-3">Espacio para gestionar asesorias  </div>
          <p class="mt-0 mb-4 text-800 line-height-3">AgendarUFPS es un espacio dedicado a la gestión eficiente de asesorías académicas en la Universidad Francisco De Paula Santander. Este sistema proporciona a los estudiantes y profesores la herramienta ideal para planificar y organizar sesiones de asesoría de manera efectiva. Para acceder, recuerda iniciar sesión utilizando tu cuenta institucional, garantizando así un entorno seguro y personalizado. Optimiza tu experiencia académica al programar y gestionar tus asesorías de manera conveniente con AgendarUFPS.</p>
            <p-button
            label="Login"
            severity="danger"
            (onClick)="goToLogin()"

            ></p-button>

      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img src="assets/images/background.png" alt="ufps"
    class="md:ml-0 block w-screen h-screen"
    style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);
    object-fit: cover;
    margin-left: 500px;"
    >
  </div>
</div>
