
.fullscree{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.fitScreen{
  width: 80%;
  height: 800%;
}

/* Estilos globales o con ::ng-deep en el componente */
.custom-calendar .p-datepicker .p-datepicker-calendar .p-datepicker-today {
  font-weight: bold; /* Hace todos los días en negrita */
}

.custom-calendar .p-datepicker .p-datepicker-calendar .p-disabled {
  font-weight: normal; /* Días deshabilitados vuelven a la normalidad */
  color: #ccc; /* Indica que está deshabilitado */
}

